h1 {
  text-align: center;
  font-size: 100px;
  color: darkgoldenrod;
  text-shadow: 3px 3px red;
}

body {
  background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTV8NDEwMzI1fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

#game-status {
  text-align: center;
}

.box
{
  background-color: rgba(250, 0, 0, 0.37);
  color: rgb(0, 4, 248);
  min-width:10rem;
  min-height:10rem;
  border: 1px inset rgb(0, 25, 250);
  border-radius: 20px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-status{
  display:none;
} 

.jumbotron {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 15px;
  padding: 10px;
  background-image: url(https://image.shutterstock.com/image-vector/memphis-style-seamless-vector-pattern-260nw-654211720.jpg);
}

#new-game {
  margin-top: 25px;
  font-size: 30px;
  background-color: black;
  color: gray;
  text-shadow: 1px 1px white;
}

.img1 {
  display: none;
  width: 350px;
  height: 350px;
  margin-left: 210px;
}

.img2 {
  display: none;
  margin-left: 170px;
}